.gome-top {
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    background: #f8f8f8;
    height: 30px;
    color: #5e5e5e;
    z-index: 999;
}
.content{
    width: 1200px;
    margin: auto;
}
#gome-top-body {
    position: relative;
    background: #f8f8f8;
    height: 30px;
    border-bottom: 1px solid #f3f3f3;
}
.gome-top li {
    float: left;
    position: relative;
    font: 400 12px/30px Arial,"Microsoft YaHei";
}
#gome-user {
    margin-right: 12px;
}
#gome-user b {
    color: #5e5e5e;
}
.gome-top b {
    /* _float: left; */
    font-weight: 400;
    display: block;
    padding: 0 20px 0 10px;
    border: 1px solid #f8f8f8;
    border-bottom: 0;
    height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    color: #888;
}
.gome-top a {
    color: #888;
}
.gome-top b i {
    position: absolute;
    top: 12px;
    right: 8px;
    background-position: -62px -433px;
    width: 7px;
    height: 4px;
    overflow: hidden;
}
.gome-top i{
    background: url(../img/ui.png);
    display: inline-block;
    vertical-align: middle;
}
.gome-link {
    line-height: 33px;
    height: 30px;
    overflow: hidden;
    margin: 0;
}
.gome-link a {
    margin-right: 10px;
    line-height: 32px;
}
.gome-link a.gome-link-register {
    color: #f5004b;
}
.gome-link a.gome-link-register i {
    display: inline-block;
    width: 12px;
    height: 13px;
    background-position: -145px -1496px;
    margin-left: 5px;
    margin-top: -4px;
    background-repeat: no-repeat;
}


